{% extends 'SCRUMSwiftairBundle::base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <div>
            <div>{{ form_label(form.vertrek) }}</div>
            <div>{{ form_widget(form.vertrek) }}</div>
        </div>
        
        <div>
            <div>{{ form_label(form.bestemming) }}</div>
            <div>{{ form_widget(form.bestemming) }}</div>
        </div>

        <div>
            <div>{{ form_label(form.klasse) }}</div>
            <div>{{ form_widget(form.klasse) }}</div>
        </div>
     
        <div>
            <div>{{ form_label(form.aantal) }}</div>
            <div>{{ form_widget(form.aantal) }}</div>
        </div>
        
        <div>
            {{ form_widget(form.save) }}
        </div>
        
        {{ form_end(form) }}
    </div>
{% endblock %}