{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tickets list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Bestellingsid</th>
                <th>Passagierid</th>
                <th>Vluchtid</th>
                <th>Klasseid</th>
                <th>Prijs</th>
                <th>Annulatie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tickets_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.bestellingsid }}</td>
                <td>{{ entity.passagierid }}</td>
                <td>{{ entity.vluchtid }}</td>
                <td>{{ entity.klasseid }}</td>
                <td>{{ entity.prijs }}</td>
                <td>{{ entity.annulatie }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('tickets_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('tickets_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tickets_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
