<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
        
        <title>{% block title %}Swiftair{% endblock %}</title>
        
        {% block stylesheets %}
            <link rel='stylesheet' type='text/css' href={{ asset('bundles/scrumswiftair/js/jquery-ui-1.11.2.custom/jquery-ui.min.css') }} />
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/scrumswiftair/js/jquery-ui-1.11.2.custom/external/jquery/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/scrumswiftair/js/jquery-ui-1.11.2.custom/jquery-ui.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/scrumswiftair/js/jquery-ui-1.11.2.custom/jquery-validation-1.13.1/dist/jquery.validate.min.js') }}"> </script>
            <script type="text/javascript" src="{{ asset('bundles/scrumswiftair/js/jquery-ui-1.11.2.custom/jquery-validation-1.13.1/dist/additional-methods.min.js')}}"></script>
            <script type="text/javascript" src="{{ asset('bundles/scrumswiftair/js/swiftair.js') }}"></script>
        {% endblock %}
        
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
