{% extends 'SCRUMSwiftairBundle::base.html.twig' %}

{% block body %}
<div class="container" id="boeking">
    <div role="tabpanel" class= "masthead">
        <div class="tabbable" id="crumbs">
        <!-- nav tabs --> 
            <ul class="nav nav-justified" role="tablist">
                <li role="presentation" ><a href="#step1" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-search"></span><span class="liText"> Kies uw vlucht</span></a></li>
                <li role="presentation"><a href="#step2" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-filter"></span><span class="liText"> Klantgegevens </span></a></li>
                <li role="presentation"><a href="#step3" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon glyphicon-list"></span><span class="liText"> Passagiersgegevens</span></a></li>
                <li role="presentation"><a href="#step4" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-euro"></span><span class="liText"> Betaling </span></a></li>
                <li role="presentation"><a href="#step5" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-ok"></span><span class="liText"> Bevestiging</span></a></li>
            </ul>

            {{ form_start(form) }}
            <div class="tab-content" >
                <div role="tabpanel" class="tab-pane active" id="step1">
            	<h2>Selecteer Vlucht</h2>
                {{ vertrek }}
                {{ bestemming }}
                {{ aantal }}
                {{ klasse }}
	<table>
		<thead>
			<td>Vluchtcode</td>
			<td>Vertrek</td>
			<td>Aankomst</td>
			<td>Uur vertrek</td>
			<td>Uur aankomst</td>
		</thead>
	<tbody>
			<tr>
			<td>FR5993</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>4:05</td>
			<td>5:40</td>
		</tr>
			<tr>
			<td>FR5994</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>5:05</td>
			<td>6:40</td>
		</tr>
			<tr>
			<td>FR5995</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>6:05</td>
			<td>7:40</td>
		</tr>
			<tr>
			<td>FR5996</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>7:05</td>
			<td>8:40</td>
		</tr>
			<tr>
			<td>FR5997</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>8:05</td>
			<td>9:40</td>
		</tr>
			<tr>
			<td>FR5998</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>9:05</td>
			<td>10:40</td>
		</tr>
			<tr>
			<td>FR5999</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>10:05</td>
			<td>11:40</td>
		</tr>
			<tr>
			<td>FR6000</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>11:05</td>
			<td>12:40</td>
		</tr>
			<tr>
			<td>FR6001</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>12:05</td>
			<td>13:40</td>
		</tr>
			<tr>
			<td>FR6002</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>13:05</td>
			<td>14:40</td>
		</tr>
			<tr>
			<td>FR6003</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>14:05</td>
			<td>15:40</td>
		</tr>
			<tr>
			<td>FR6004</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>15:05</td>
			<td>16:40</td>
		</tr>
			<tr>
			<td>FR6005</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>16:05</td>
			<td>17:40</td>
		</tr>
			<tr>
			<td>FR6006</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>17:05</td>
			<td>18:40</td>
		</tr>
			<tr>
			<td>FR6007</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>18:05</td>
			<td>19:40</td>
		</tr>
			<tr>
			<td>FR6008</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>19:05</td>
			<td>20:40</td>
		</tr>
			<tr>
			<td>FR6009</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>20:05</td>
			<td>21:40</td>
		</tr>
			<tr>
			<td>FR6010</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>21:05</td>
			<td>22:40</td>
		</tr>
			<tr>
			<td>FR6011</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>22:05</td>
			<td>23:40</td>
		</tr>
			<tr>
			<td>FR6012</td>
			<td>Madrid</td>
			<td>Londen Stansted</td>
			<td>23:05</td>
			<td>24:40</td>
		</tr>
		</tbody>
	</table>

                <div>
                    <button type="button" id="nexttab"> Boek uw vlucht </button>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="step2">
                <h2>Klant Gegevens</h2>
                {% for klant in form.klanten %}
                    <div>{{ form_row(klant.naam) }}</div>
                    <div> <label for="voornaam" data-toggle="tooltip" data-placement="right" title="Gelieve al uw voornamen in te geven vb. Ann Sofie Fred"> {{ form_row(klant.voornaam) }}</label> </div>
                    <div>{{ form_row(klant.adres) }}</div>
                    <div>{{ form_row(klant.telefoon) }}</div>
                    <div>{{ form_row(klant.email) }}</div>
                    
                {% endfor %} 

                <div>
                    <button type="button" id="prevtab">Terug naar 'Kies uw vlucht' </button>
                    <button type="button" id="nexttab">Ga door naar 'Passagiersgegevens' </button>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="step3">
                <h2>Passagiers</h2>
                <button id="klantgegevens">Gebruik klantgegevens</button>
                {% for passagier in form.passagiers %}
                    <div><label for="naamPassagier" data-toggle="tooltip" data-placement="right" title="Naam passagier"> {{ form_row(passagier.naam) }}</div>
                    <div>{{ form_row(passagier.voornaam) }}</div>
                    <div>{{ form_row(passagier.adres) }}</div>
                    <div> <label for="rijksregisternummer" data-toggle="tooltip" data-placement="right" title="vb. 750622-188-32"> {{ form_row(passagier.rijksregister) }} </label></div>
                    <div><label for="bagage" data-toggle="tooltip" data-placement="right" title="In het vliegpakket zit enkel handbagage. Indien u extra bagage wenst, vink dit aan. (15kg - 15.00€)"> {{ form_row(passagier.bagage) }} </label></div>
                    <div><label for="verzekering" data-toggle="tooltip" data-placement="right" title="Vink deze optie aan indien u een extra reisverzekering wenst. (15.50€) "> {{ form_row(passagier.verzekering) }} </label></div>
                    <div>{{ form_row(passagier.geboortedatum) }}</div>
                {% endfor %}
                <div>
                    <button type="button" id="prevtab">Terug naar 'Klantgegevens'</button>
                    <button type="button" id="nexttab">Ga verder naar 'Betaling' </button>
                </div>
            </div>
            
            <div role="tabpanel" class="tab-pane" id="step4">
                <h2>Betaling</h2>
                {% for klant in form.klanten %}
                <div> <label for="kredietkaart" data-toggle="tooltip" data-placement="right" title="Vink deze optie aan indien u met een kredietkaart wenst te betalen ipv via overschrijving."> 
                {{form_row(klant.kredietkaart) }} </label></div>
                {% for kaart in form.krediet %}
                    <div id="krediet">
                        <div>{{ form_row(kaart.nummer) }}</div>
                        <div>{{ form_row(kaart.expiration) }}</div>
                        <div>{{ form_row(kaart.typeid) }}</div>
                        <div>{{ form_row(kaart.naam) }}</div>
                    </div>
                 {% endfor %}  
                {% endfor %} 
                
                
                


                
                
                
                
                <div>
                    <button type="button" id="prevtab">Ga terug naar 'Passagiersgegevens' </button>
                    <button type="button" id="nexttab">Ga verder naar 'Betaling' </button>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="step5">
                <h2>Bevestiging</h2>
                <div>
                    {{ form_row(form.submit) }}
                </div>
            </div>

            
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<script>
$(function ($) {
    $('#scrum_swiftairbundle_bestellingen_klanten_0_kredietkaart').click(function() {
        console.log('tst');
        if($('#scrum_swiftairbundle_bestellingen_klanten_0_kredietkaart').is(":checked"))   
                $("#krediet").show();
            else
                $("#krediet").hide();
    });
});
</script>
{% endblock %}

