{% extends 'SCRUMSwiftairBundle::base.html.twig' %}




{% block body %}
<div class="container" id="boeking">
    <div role="tabpanel" class= "masthead">
        <div class="tabbable" id="crumbs">
        <!-- nav tabs --> 
            <ul class="nav-justified" role="tablist">
                <li role="presentation" class="active" ><a href="#step1" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-search"></span><span class="liText"> Kies uw vlucht</span></a></li>
                <li role="presentation"><a href="#step2" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-filter"></span><span class="liText"> Klantgegevens </span></a></li>
                <li role="presentation"><a href="#step3" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon glyphicon-list"></span><span class="liText"> Passagiersgegevens</span></a></li>
                <li role="presentation"><a id="confirm" href="#step4" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-ok"></span><span class="liText"> Bevestiging </span></a></li>
                <li role="presentation"><a href="#step5" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-euro"></span><span class="liText"> Betaling</span></a></li>
            </ul>

            {{ form_start(form) }}
            <div class="tab-content scroll" >
                <div role="tabpanel" class="tab-pane active" id="step1">
            	<h2><span class="glyphicon glyphicon-search"></span><span class="liText"> Kies uw vlucht</span></h2>
                <p> Geef uw gewenste bestemming in en ga op zoek naar de vlucht die u daar brengt! </p>
                

	<table style="width:100%;border-collapse:collapse;">
		<thead>
			<td><b>Vluchtcode</b></td>
			<td><b>Vertrek</b></td>
			<td><b>Aankomst</b></td>
                        <td><b>Datum</b></td>
			<td><b>Uur vertrek</b></td>
			<td><b>Uur aankomst</b></td>
		</thead>

	<tbody>
		<tr>
			<td><input type='radio' name='vlucht' value=' . (5993 + 11) . '>FR6004</td>
			<td>Brussels</td>
			<td>Berlin</td>
                        <td>11 april 2015</td>
			<td>15:05</td>
			<td>17:30</td>

		</tr>
			<tr>
			<td><input type='radio' name='vlucht' value=' . (5993 + 12) . '>FR6005</td>
			<td>Brussels</td>
			<td>Berlin</td>
                        <td>12 april 2015</td>
			<td>16:05</td>
			<td>18:30</td>
		</tr>
			<tr>
			<td><input type='radio' name='vlucht' value=' . (5993 + 13) . '>FR6006</td>
			<td>Brussels</td>
			<td>Berlin</td>
                        <td>13 april 2015</td>
			<td>17:05</td>
			<td>19:30</td>
		</tr>
			<tr>
			<td><input type='radio' name='vlucht' value=' . (5993 + 14) . '>FR6007</td>
			<td>Brussels</td>
			<td>Berlin</td>
                        <td>14 april 2015</td>
			<td>18:05</td>
			<td>20:30</td>
		</tr>
			<tr>
			<td><input type='radio' name='vlucht' value=' . (5993 + 15) . '>FR6008</td>
			<td>Brussels</td>
			<td>Berlin</td>
                        <td>15 april 2015</td>
			<td>19:05</td>
			<td>21:30</td>
		</tr>
			<tr>
			<td><input type='radio' name='vlucht' value=' . (5993 + 16) . '>FR6009</td>
			<td>Brussels</td>
			<td>Berlin</td>
                        <td>16 april 2015</td>
			<td>20:05</td>
			<td>22:30</td>
		</tr>
			<tr>
			<td><input type='radio' name='vlucht' value=' . (5993 + 17) . '>FR6010</td>
			<td>Brussels</td>
			<td>Berlin</td>
                        <td>17 april 2015</td>
			<td>21:05</td>
			<td>23:30</td>
		</tr>
			<tr>
			<td><input type='radio' name='vlucht' value=' . (5993 + 18) . '>FR6011</td>
			<td>Brussels</td>
			<td>Berlin</td>
                        <td>18 april 2015</td>
			<td>22:05</td>
			<td>24:30</td>
		</tr>
			<tr>
			<td><input type='radio' name='vlucht' value=' . (5993 + 19) . '>FR6012</td>
			<td>Brussels</td>
			<td>Berlin</td>
                        <td>19 april 2015</td>
			<td>23:05</td>
			<td>25:30</td>
		</tr>

		</tbody>
	</table>


                <div>
                    <button class="btn btn-primary btn-sm col-sm-4 formknop" type="button" id="nexttab2">Ga verder naar 'Klantgegevens'</button>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="step2">
                <h2> <span class="glyphicon glyphicon-filter"></span><span class="liText"> Klantgegevens </span></h2>
                <p> Gelieve hier uw persoonlijke gegevens in te geven. Deze zullen als contactinformatie gebruikt worden voor de verder opvolging van uw boeking. </p>
                <div class="form-group col-sm-9">
                {% for klant in form.klanten %}
                
                	<div >
                    <div class="col-sm-6"> {{ form_widget(klant.naam, {'attr': {'class': 'form-control', 'placeholder': 'Achternaam'}} ) }}</div>
                    <div class="col-sm-3"> {{ form_widget(klant.voornaam, {'attr': {'class': 'form-control', 'placeholder': 'Voornaam', 'data-toggle': 'tooltip', 'data-placement': 'right', 'title': 'Gelieve al uw voornamen in te geven vb. Ann Sofie Fred' }} ) }}</div>
                   	<div class="col-sm-9">{{ form_widget(klant.adres, {'attr': {'class': 'form-control', 'placeholder': 'Adres'}} ) }}</div>
                    <div class="col-sm-9">{{ form_widget(klant.telefoon, {'attr': {'class': 'form-control', 'placeholder': 'Telefoon'}} ) }}</div>
                    <div class="col-sm-9">{{ form_widget(klant.email, {'attr': {'class': 'form-control', 'placeholder': 'email@adres.com'}} ) }}</div>
                    </div>
                 
                    
                {% endfor %} 

				
                <div class="col-sm-9">
                    <button class="btn btn-primary btn-sm col-sm-4 formknop" type="button" id="prevtab1">Terug naar 'Kies uw vlucht' </button>
                    <button class="btn btn-primary btn-sm col-sm-5 formknop" type="button" id="nexttab3">Ga verder naar 'Passagiersgegevens'</button>
                </div>
                </div>
                
            </div>

            <div role="tabpanel" class="tab-pane" id="step3">
                <h2><span class="glyphicon glyphicon glyphicon-list"></span><span class="liText"> Passagiersgegevens</span></h2>
                <p> Vul hier per passagier de persoonlijke gegevens in. Zorg dat deze correct zijn, zodat uw verdere boeking vlot kan verlopen. </p>
                
                <button class="btn btn-primary btn-sm col-sm-2 formknop" id="klantgegevens">Gebruik klantgegevens</button>
                <script> var n = 1; </script>
                <div class="col-sm-9">
                {% for passagier in form.passagiers %}
                	<fieldset> 
                    <h5> <script> document.write('<div class="col-sm-9" id="passagier' + n + '">Gegevens Passagier ' + n + '</div>'); n += 1; </script></h5>
                    <div class="col-sm-6">{{ form_widget(passagier.naam, {'attr': {'class': 'form-control', 'placeholder': 'Achternaam', 'data-toggle': 'tooltip', 'data-placement': 'right', 'title': 'Naam passagier' }} ) }}</div>
                    <div class="col-sm-3">{{ form_widget(passagier.voornaam, {'attr': {'class': 'form-control', 'placeholder': 'Voornaam'}} ) }}</div>
                    <div class="col-sm-9">{{ form_widget(passagier.adres, {'attr': {'class': 'form-control', 'placeholder': 'Adres'}} ) }}</div>
                    <div class="col-sm-9">{{ form_widget(passagier.rijksregister, {'attr': {'class': 'form-control', 'placeholder': 'Rijksregisternummer', 'data-toggle': 'tooltip', 'data-placement': 'right', 'title': 'vb. 750622-188-32' }} ) }} </div>
                    <div class="col-sm-9"> 
                    <div class="col-sm-6">
                    <div class="col-sm-4"> {{ form_label(passagier.bagage) }} </div>
                    <div class="col-sm-2">{{ form_widget(passagier.bagage, {'attr': {'class': 'checkbox', 'data-toggle': 'tooltip', 'data-placement': 'right', 'title': 'In het vliegpakket zit enkel handbagage. Indien u extra bagage wenst, vink dit aan. (15kg - 15.00€)' }} ) }} </div>
                    </div>
                    <div class="col-sm-6">
                    <div class="col-sm-4"> {{ form_label(passagier.verzekering) }} </div>
                    <div class="col-sm-2">{{ form_widget(passagier.verzekering, {'attr': {'class': 'checkbox', 'data-toggle': 'tooltip', 'data-placement': 'right', 'title': 'Vink deze optie aan indien u een extra reisverzekering wenst. (15.50€) ' }} ) }}</div>
                    </div> </div>
                    <div class="col-sm-9">{{ form_row(passagier.geboortedatum, {'attr': {'class': 'form-control'}}) }} </div>
                    </fieldset>
                    
                {% endfor %}
                <div class="col-sm-9">
                    <button class="btn btn-primary btn-sm col-sm-4 formknop" type="button" id="prevtab2">Terug naar 'Klantgegevens'</button>
                    <button class="btn btn-primary btn-sm col-sm-4 formknop" type="button" id="nexttab4">Ga verder naar 'Bevestiging' </button>
                </div>
                </div> 
            </div> 
            
            <div role="tabpanel" class="tab-pane" id="step4">
            <h2><span class="glyphicon glyphicon-ok"></span><span class="liText"> Bevestiging</span><img id="logo" alt="Swiftair logo"  src="{{ asset('bundles/scrumswiftair/images/logo.png')}}"  ></h2>
            
            
            
            <p class="col-sm-12"> Klik op onderstaande links voor een overzicht van uw gegevens. Bent u akkoord met bovenstaande gegevens, ga dan verder naar betalen om de boeking te bevestigen. Zoniet, pas de nodige gegevens aan.  </p>
            <div class="row"> 
            <fieldset >
            <button class="btn btn-warning col-sm-7 " type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapseExample" id="confirm">Vluchtinformatie
            </button>
            <div class="collapsing col-sm-12" id="collapse1">
              <div class="well col-sm-7" id="bevestigingsinfo">
               	<ul id="bevestig1" class="bevestig"> 
              	<li> Van <em> Brussels </em></li>
                <li> Naar <em> Berlin </em></li>
                <li> Vluchtcode <em>FR6005 </em> </li>
                <li> Reisklasse <em> Economy </em></li>
                <li> Vertrektijd <em> 12 april 2015 16:05 </em></li>
                <li> Aankomsttijd <em> 12 april 2015 18:30 </em></li>
                </ul>
              </div>
            </div>
            </fieldset>
            
            <fieldset > 
            <button class="btn btn-primary col-sm-7" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseExample" id="confirm">Gegevens Passagiers </button>
            <div class="collapsing col-sm-12" id="collapse2">
              <div class="well col-sm-7" id="bevestigingsinfo">
              <ul id="bevestig2" class="bevestig"> 
              </ul> 	
              </div>
            </div>
            </fieldset>
            
            <fieldset > 
            <button class="btn btn-info col-sm-7" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapseExample" id="confirm">Gegevens Klant </button>
            <div class="collapsing col-sm-12" id="collapse3">
              <div class="well col-sm-7" id="bevestigingsinfo">
              <ul id="bevestig3" class="bevestig"> 

              </ul>
              </div>
            </div>
            </fieldset>
            </div>
            
                <div >
                	<button class="btn btn-primary btn-sm col-sm-5 formknop" type="button" id="prevtab3">Terug naar 'Passagiersgegevens'</button>
                   	<button class="btn btn-primary btn-sm col-sm-4 formknop" type="button" id="nexttab5"> Ga naar 'Betalen' </button> 
                </div>
                
            </div>

            <div role="tabpanel" class="tab-pane" id="step5">
              <h2><span class="glyphicon glyphicon-euro"></span><span class="liText"> Betaling </span></h2>
                {% for klant in form.klanten %}
                <div class="col-sm-5">
                <div class="col-sm-3"> {{form_label(klant.kredietkaart) }} </div>
                <div> {{form_widget(klant.kredietkaart, {'attr': {'class': 'checkbox', 'data-toggle': 'tooltip', 'data-placement': 'right', 'title': 'Vink deze optie aan indien u met een kredietkaart wenst te betalen ipv via overschrijving.' }} ) }} </div> </div>
                <div class="col-sm-9"> Indien u niet met een kredietkaart wenst te betalen. Vinkt u deze optie niet aan. Er zal uw dan een overschrijving worden verzonden op uw ingegeven adres bij 'klantgegevens' </div>
                
                {% for kaart in form.krediet %}
                    <div id="krediet" class="col-sm-9">
                    <fieldset>
                        <div class="col-sm-9">{{ form_row(kaart.nummer, {'attr': {'class': 'form-control', 'placeholder': 'Kaartnummer'}} ) }}</div>
                        <div class="col-sm-9"> 
                        <div class="col-sm-2"> {{ form_label(kaart.expiration) }}</div> 
                        <div class="col-sm-5"> {{ form_widget(kaart.expiration, {'attr': {'class': 'form-control'}} ) }} </div></div>
                        <div class="col-sm-9"> 
                        <div class="col-sm-2"> {{ form_label(kaart.typeid) }}</div> 
                        <div class="col-sm-5"> {{ form_widget(kaart.typeid, {'attr': {'class': 'form-control'}} ) }} </div></div>
                        <div class="col-sm-9">{{ form_row(kaart.naam, {'attr': {'class': 'form-control', 'placeholder': 'Naam Kaarthouder', 'data-toggle': 'tooltip', 'data-placement': 'right', 'title': 'Geef hier de naam van de kaarthouder in.'}} ) }}</div>
                        </fieldset>
                    </div>
                    
                 {% endfor %}  
                {% endfor %} 
                
                 <div>
                 {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary btn-sm col-sm-4 formknop'}} ) }}
                 
                </div>  
            </div>

            
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<script>
$(function ($) {
    $('#scrum_swiftairbundle_bestellingen_klanten_0_kredietkaart').click(function() {
        console.log('tst');
        if($('#scrum_swiftairbundle_bestellingen_klanten_0_kredietkaart').is(":checked"))   
                $("#krediet").show();
            else
                $("#krediet").hide();
    });
});


</script>
{% endblock %}

