{% extends 'SCRUMSwiftairBundle::base.html.twig' %}

{% block body %}
<div class="container" id="boeking">
    <div role="tabpanel" class= "masthead">
        <div class="tabbable" id="crumbs">
        <!-- nav tabs --> 
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ><a href="#step1" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-search"></span><span class="liText"> Kies uw vlucht</span></a></li>
                <li role="presentation"><a href="#step2" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-filter"></span><span class="liText"> Klantgegevens </span></a></li>
                <li role="presentation"><a href="#step3" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon glyphicon-list"></span><span class="liText"> Passagiersgegevens</span></a></li>
                <li role="presentation"><a href="#step4" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-euro"></span><span class="liText"> Betaling </span></a></li>
                <li role="presentation"><a href="#step5" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-ok"></span><span class="liText"> Bevestiging</span></a></li>
            </ul>

            {{ form_start(form) }}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="step1">
            	<h2>Selecteer Vlucht</h2>
                {{ vertrek }}
                {{ bestemming }}
                {{ aantal }}
                {{ klasse }}
                <div>
                    <button type="button" id="nexttab"> Boek uw vlucht </button>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="step2">
                <h2>Klant Gegevens</h2>
                {% for klant in form.klanten %}
                    <div>{{ form_row(klant.naam) }}</div>
                    <div> <label for="voornaam" data-toggle="tooltip" data-placement="right" title="Gelieve al uw voornamen in te geven vb. Ann Sofie Fred"> {{ form_row(klant.voornaam) }}</label> </div>
                    <div>{{ form_row(klant.adres) }}</div>
                    <div>{{ form_row(klant.telefoon) }}</div>
                    <div>{{ form_row(klant.email) }}</div>
                    
                {% endfor %} 

                <div>
                    <button type="button" id="prevtab">Terug naar 'Kies uw vlucht' </button>
                    <button type="button" id="nexttab">Ga door naar 'Passagiersgegevens' </button>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="step3">
                <h2>Passagiers</h2>
                <button id="klantgegevens">Gebruik klantgegevens</button>
                {% for passagier in form.passagiers %}
                    <div><label for="naamPassagier" data-toggle="tooltip" data-placement="right" title="Naam passagier"> {{ form_row(passagier.naam) }}</div>
                    <div>{{ form_row(passagier.voornaam) }}</div>
                    <div>{{ form_row(passagier.adres) }}</div>
                    <div> <label for="rijksregisternummer" data-toggle="tooltip" data-placement="right" title="vb. 750622-188-32"> {{ form_row(passagier.rijksregister) }} </label></div>
                    <div><label for="bagage" data-toggle="tooltip" data-placement="right" title="In het vliegpakket zit enkel handbagage. Indien u extra bagage wenst, vink dit aan. (15kg - 15.00€)"> {{ form_row(passagier.bagage) }} </label></div>
                    <div><label for="verzekering" data-toggle="tooltip" data-placement="right" title="Vink deze optie aan indien u een extra reisverzekering wenst. (15.50€) "> {{ form_row(passagier.verzekering) }} </label></div>
                    <div>{{ form_row(passagier.geboortedatum) }}</div>
                {% endfor %}
                <div>
                    <button type="button" id="prevtab">Terug naar 'Klantgegevens'</button>
                    <button type="button" id="nexttab">Ga verder naar 'Betaling' </button>
                </div>
            </div>
            
            <div role="tabpanel" class="tab-pane" id="step4">
                <h2>Betaling</h2>
                {% for klant in form.klanten %}
                <div class="checkbox"> <label for="kredietkaart" data-toggle="tooltip" data-placement="right" title="Vink deze optie aan indien u met een kredietkaart wenst te betalen ipv via overschrijving."> 
                <input type="checkbox" onclick="toggle(this,'.checkbox')" > {{form_row(klant.kredietkaart) }} </label></div>
                {% endfor %} 
                
                {% for kaart in form.krediet %}
                    <div>
                        <div>{{ form_row(kaart.nummer) }}</div>
                        <div>{{ form_row(kaart.expiration) }}</div>
                        <div>{{ form_row(kaart.typeid) }}</div>
                        <div>{{ form_row(kaart.naam) }}</div>
                    </div>
                 {% endfor %}  
                
                
 {% block checkbox_widget %}
{% spaceless %}
    <label  for="{{ id }}" class="checkbox {% if checked %}checked{% endif %}" ><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans }}</label>
{% endspaceless %}
{% endblock checkbox_widget %}           


    <span class="checkbox">
       	<div>{{ form_row(kaart.nummer) }}</div>
        <div>{{ form_row(kaart.expiration) }}</div>
        <div>{{ form_row(kaart.typeid) }}</div>
        <div>{{ form_row(kaart.naam) }}</div>
    </span>

                
                
                
                
                <div>
                    <button type="button" id="prevtab">Ga terug naar 'Passagiersgegevens' </button>
                    <button type="button" id="nexttab">Ga verder naar 'Betaling' </button>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="step5">
                <h2>Bevestiging</h2>
                <div>
                    {{ form_row(form.submit) }}
                </div>
            </div>

            
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}