{% extends 'SCRUMSwiftairBundle::base.html.twig' %}

{% block body %}
<div class="container" id="boeking">
    <div role="tabpanel" class= "masthead">
        <div class="tabbable" id="crumbs">
        <!-- nav tabs --> 
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ><a href="#step1" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-search"></span><span class="liText"> Select your Flight</span></a></li>
                <li role="presentation"><a href="#step2" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-filter"></span><span class="liText"> Personal information </span></a></li>
                <li role="presentation"><a href="#step3" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon glyphicon-list"></span><span class="liText"> Passenger Specifics</span></a></li>
                <li role="presentation"><a href="#step4" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-euro"></span><span class="liText"> Payment</span></a></li>
                <li role="presentation"><a href="#step5" aria-controls="Search" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-ok"></span><span class="liText"> Confirmation </span></a></li>
            </ul>

            {{ form_start(form) }}
<div class="tab-content">

			<div role="tabpanel" class="tab-pane active" id="step1">
            	<h2>Selecteer Vlucht:</h2>
                <div>
                    <button type="button" id="nexttab">Book your flight</button>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="step2">
                <h2>Klant Gegevens:</h2>
                <ul class="passagiers" data-prototype="{{ form_widget(form.passagiers.vars.prototype)|e }}">
                    {% for klant in form.klanten %}
                        <div>{{ form_row(klant.naam) }}</div>
                        <div>{{ form_row(klant.voornaam) }}</div>
                        <div>{{ form_row(klant.adres) }}</div>
                        <div>{{ form_row(klant.telefoon) }}</div>
                        <div>{{ form_row(klant.email) }}</div>
                        <div>{{ form_row(klant.kredietkaart) }}</div>
                    {% endfor %} 
                </ul>
                <div>
                    <button type="button" id="prevtab">Back to 'Choose your flight'</button>
                    <button type="button" id="nexttab">Next to 'Passenger information'</button>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="step3">
                <h2>Passagiers:</h2>
                <button id="klantgegevens">Gebruik klantgegevens</button>
                <ul class="passagiers" data-prototype="{{ form_widget(form.passagiers.vars.prototype)|e }}">
                    {% for passagier in form.passagiers %}
                        <li>
                            <div>{{ form_row(passagier.naam) }}</div>
                            <div>{{ form_row(passagier.voornaam) }}</div>
                            <div>{{ form_row(passagier.adres) }}</div>
                            <div>{{ form_row(passagier.rijksregister) }}</div>
                            <div>{{ form_row(passagier.bagage) }}</div>
                            <div>{{ form_row(passagier.verzekering) }}</div>
                            <div>{{ form_row(passagier.geboortedatum) }}</div>
                        </li>
                    {% endfor %}
                </ul>
                <div>
                    <button type="button" id="prevtab">Back to 'Personal information'</button>
                    <button type="button" id="nexttab">Next to 'Book your flight'</button>
                </div>
            </div>
            
            <div role="tabpanel" class="tab-pane" id="step4">
                <h2>Payment</h2>
                <div>
                    <button type="button" id="prevtab">Back to 'Passenger specifics'</button>
                    {{ form_row(form.submit) }}
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="step5">
                <h2>Confirmation:</h2>
                <div>
                    <button type="button" id="prevtab">BOOK your flight</button>
                    {{ form_row(form.submit) }}
                </div>
            </div>

            
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}