{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Klanten</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Naam</th>
                <td>{{ entity.naam }}</td>
            </tr>
            <tr>
                <th>Voornaam</th>
                <td>{{ entity.voornaam }}</td>
            </tr>
            <tr>
                <th>Adres</th>
                <td>{{ entity.adres }}</td>
            </tr>
            <tr>
                <th>Telefoon</th>
                <td>{{ entity.telefoon }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Kredietkaart</th>
                <td>{{ entity.kredietkaart }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('klanten') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('klanten_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
